@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  background-color:rgb(232, 232, 232);
  margin: 0%;
  padding: 0%;
}
.content{
  margin-left: 10%;
  padding-top: 7%;
}
span{
  color: rgb(231, 207, 26);
  -webkit-text-stroke: 1px rgb(158, 145, 46);
}
p{
  font-size: 100%;
  color: rgb(80, 77, 77);
}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 90px;
  margin-right: 10%;
  
}
.heading{
  font-size: 450%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-image{
   height: 35%;
   width: 35%;
   border-radius: 50%;
   border :2px solid rgba(80, 67, 46, 0.622);
}
